.nav {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: fixed;
    width: calc(100vw - 6rem);
    height: 2.5rem;
    background: var(--background);
    padding: 1rem 3rem;
    box-shadow: 0 5px 20px -5px rgb(0 0 0 / 7%);

    .logo {
        img {
            width: 1.6rem;
            height: auto;
        }

        display: flex;
        align-items: center;
        gap: .5rem;
        font-size: 1.2rem;
        font-weight: 800;
        min-width: 12.5rem;
    }
    .links {
        display: flex;
        gap: .5rem;
    }

    .nav-item{
        display: flex;
        font-weight: 500;
        align-items: center;
        margin-left: 1rem;

        &:hover {
            .nav-item-expanded {
                display: block;
            }

            .title {
                &::after {
                    pointer-events: all;
                }
            }
        }

        .title {
            position: relative;
            cursor: pointer;
            font-size: .8rem;

            &::after {
                pointer-events: none;
                cursor: auto;
                content: '';
                position: absolute;
                inset: 0;
                height: 5rem;
                width: 100%;
                background: transparent;
                z-index: -1;
            }
        }
        i {
            user-select: none;
            font-size: 1.4rem;
        }

        .nav-item-expanded {
            display: none;
            position: fixed;
            top: 5rem;
            left: 0;
            right: 0;
            padding: 1rem;
            padding-top: 1rem;
            border-radius: 5px;
            // background: red;
            
            .wrapper {
                background: rgba(0, 0, 0, 0.021);
                border: 1px solid rgba(0, 0, 0, 0.053);
                min-height: 10rem;
                padding: 1rem;
            }
        }


    }

    .right-bar {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .search {
        margin-left: auto;
        position: relative;
        color: var(--sub-text);

        i {
            margin-left: .5rem;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
        }

        input {
            border: 1px solid ;
            box-shadow: 0 5px 20px -5px rgb(0 0 0 / 7%);
            padding: .5rem 1.9rem;
            padding-right: .7rem;
            border: 1px solid #dae1e7;
            border-radius: 7px;
            font-weight: 500;
            letter-spacing: .6px;
            max-width: 10rem;
            min-width: 1rem;
            width: calc(100% - 2.8rem);

            &:focus-within{
                outline: none;
                border-color: var(--accent);
            }
        }
    }


    .nav-btn {
        margin-left: auto;
        background: #ffc78f;
        font-weight: 600;
        padding: .37rem .8rem;
        border-radius: 7px;
        font-size: .9rem;
    }
}